<%
const title=`顔 in Video`;
const description=`映像の中で自分の顔がはめ込まれた人が、自分の意思と無関係に動く気持ち悪さを体験するコンテンツです。`;
%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title><%= title %></title>
        <meta
          name="description"
          content="<%= description %>"
        />
        <meta property="og:locale" content="ja_JP" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="<%= title %>" />
        <meta
          property="og:image"
          content="https://novogrammer.github.io/kao-in-video/assets/img/ogp.jpg"
        />
        <meta
          property="og:url"
          content="https://novogrammer.github.io/kao-in-video/"
        />
        <meta property="og:site_name" content="novogrammer" />
        <link
          rel="canonical"
          href="https://novogrammer.github.io/kao-in-video/"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@novogrammer" />
        <meta
          name="twitter:image"
          content="https://novogrammer.github.io/kao-in-video/assets/img/ogp.jpg"
        />
        <meta
          name="twitter:description"
          content="<%= description %>"
        />
        <script src="https://greggman.github.io/webgl-memory/webgl-memory.js" crossorigin></script>
        <script>
            window.relRoot="<%= relRoot %>";
        </script>
    </head>
    <body>
        <div class="p-app">
            <canvas class="p-app__view"></canvas>
            <video class="p-app__webcam"></video>
            <canvas class="p-app__debug-view"></canvas>
            <div class="p-app__ui">
                <span class="c-button c-button--fullscreen">Fullscreen</span>
                <span class="c-button c-button--debug">Debug</span>
                <a class="c-button c-button--github" href="https://github.com/novogrammer/kao-in-video" ><img src="./assets/img/GitHub-Mark-64px.png" alt="GitHub" />GitHub</a>
                <a class="c-button" href="./recorder/">Recorder</a>
            </div>
        </div>
        <div class="c-start">START!</div>
    </body>
    
</html>
